.App {
  text-align: center;
  background-color: #0A0A0A;
}

.cover {
  text-align: center;
  /* background-color: #0A0A0A; */
  color: white;
  height: 100vh;
  background-image: url('./img/img1.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

